.header{
    background-color: yellow;
    text-align: center;
    font-weight: bold;
    border-radius: 50px;
    height:100%;
    padding: 1%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    

    

}

